:root{
    --primary-color: #E50914;
    --primary-hover-color:#c11119;
    --sec-color:#212529;
    --white-color:#fff;
}



body{
    position:relative;
     min-height: 100vh;
     height: auto;
}

body::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.85) 3%,
      rgba(0, 0, 0, 0.84) 11.08%,
      rgba(0, 0, 0, 0.83) 19.17%,
      rgba(0, 0, 0, 0.81) 27.25%,
      rgba(0, 0, 0, 0.79) 35.33%,
      rgba(0, 0, 0, 0.76) 43.42%,
      rgba(0, 0, 0, 0.72) 51.5%,
      rgba(0, 0, 0, 0.68) 59.58%,
      rgba(0, 0, 0, 0.65) 67.67%,
      rgba(0, 0, 0, 0.61) 75.75%,
      rgba(0, 0, 0, 0.60) 83.83%,
      rgba(0, 0, 0, 0.6) 91.92%,
      rgba(0, 0, 0, 0.6) 100%
    ),url(../images/bgimg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(3px);
     z-index: -1;

}



.logo{
    width: 150px;
    display: inline-block;
}

.logo img{
    width: 100%;
}

.nfx-pri-btn {
   background-color: var(--primary-color); 
   color: var(--white-color)!important
}

.nfx-sec-btn {
   background-color: var( --sec-color); 
   color: var(--white-color)!important
}



.Moviemodel{
    position: fixed;
    width: 60%;
    left: 20%;
    top: 5%;
    bottom: 5%;
    display: none;
    height: auto;      
    max-height: 60%;
   
  
}



.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: none;
}

.Moviemodel.active,
.backdrop.active{
    display: block;
}

.Moviemodel.active{
    animation: slideDown 0.4s ease-in-out;
}

.backdrop.active{
    animation:  FadeIn 0.3s ease-in-out;
}

@keyframes slideDown{
 from{
    transform: translateY(-50%);
 }
 to{
    transform: translateY(0);
 }
}


@keyframes FadeIn{
 0%{
    opacity: 0;
 }
 100%{
 opacity: 1;
 }
}

.closeModel{
    cursor: pointer;
}

.movieCard{
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.movieCard h2{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 28px;
    padding: 0 20px;
    }

.movieCard figure{
    margin: 0;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.movieCard figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movieCard figcaption{
    position: absolute;
    left:0;
    width: 100%;
    top:35%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
    transform: translateY(120%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    scrollbar-width: none; 
    
}

.movieCard:is(:hover, :active, :focus) figcaption{
  transform: translateY(0%);
  opacity: 1;
}

